# Build artifacts
dist/
*.min.js
*.min.js.map
coverage/

# Dependencies
node_modules/

# Package files
package-lock.json
package.json
tsconfig.json

# Apps build outputs
apps/*/dist/

# Packages build outputs
packages/*/dist/
