.home-view {
    display: flex;
    flex-flow: column;
    align-items: center;

    &__text {
        margin-bottom: 12mpx;
        font-size: 24mpx;

        &:last-child {
            margin-bottom: 0;
        }

        &--gray {
            color: #818999;
        }
    }
}
