.home-view {
  display: flex;
  flex-flow: column;
  align-items: center;

  &__text {
    font-size: 24mpx;
    margin-bottom: 12mpx;

    &:last-child {
      margin-bottom: 0;
    }

    &--gray {
      color: #818999;
    }
  }
}
